## Hidden folders
.ipynb_checkpoints/
.vscode
.idea/
env/

# Non-tracking folders
datasets/
DataScience/
Packt/
pytorch_challenge/
Yelp/
search-engine/data/

# Others
numpy-cheatsheet.pdf
Housing.ipynb
srt_combiner.py
