## Hidden folders
.ipynb_checkpoints/
.vscode
.idea/
env/
__pycache__/

# Non-tracking folders
datasets/
DataScience/
Packt/
pytorch_challenge/
Yelp/

# Large data folders
search_engine/data/
simple_chatbot/data/

# Others
numpy-cheatsheet.pdf
Housing.ipynb
srt_combiner.py
